<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MLG_Fetch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MLG_Fetch.Properties.Settings>
            <setting name="det_db_path" serializeAs="String">
                <value />
            </setting>
            <setting name="det_db_name" serializeAs="String">
                <value />
            </setting>
            <setting name="per_db_path" serializeAs="String">
                <value />
            </setting>
            <setting name="per_db_name" serializeAs="String">
                <value />
            </setting>
            <setting name="report1_template_path" serializeAs="String">
                <value />
            </setting>
            <setting name="create_new_det" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="create_new_per" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="login" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="cookie" serializeAs="String">
                <value />
            </setting>
            <setting name="is_cookie_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="regfile" serializeAs="String">
                <value />
            </setting>
            <setting name="divs" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="dep_month_path" serializeAs="String">
                <value />
            </setting>
            <setting name="dep_month_new" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dep_month_filename" serializeAs="String">
                <value />
            </setting>
            <setting name="dep_month_list" serializeAs="String">
                <value />
            </setting>
            <setting name="dep_reg_path" serializeAs="String">
                <value />
            </setting>
            <setting name="dep_reg_new" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dep_reg_filename" serializeAs="String">
                <value />
            </setting>
            <setting name="dep_reg_database" serializeAs="String">
                <value />
            </setting>
            <setting name="dep_reg_list" serializeAs="String">
                <value />
            </setting>
            <setting name="fsec_path" serializeAs="String">
                <value />
            </setting>
            <setting name="fsec_list" serializeAs="String">
                <value />
            </setting>
            <setting name="fsec_database" serializeAs="String">
                <value />
            </setting>
            <setting name="fsec_new" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fsec_filename" serializeAs="String">
                <value />
            </setting>
            <setting name="media_database" serializeAs="String">
                <value />
            </setting>
            <setting name="reg_sort_by_indexes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rep6_path" serializeAs="String">
                <value />
            </setting>
            <setting name="rep6_filename" serializeAs="String">
                <value />
            </setting>
            <setting name="rep6_list" serializeAs="String">
                <value />
            </setting>
            <setting name="rep6_new" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rep6_database" serializeAs="String">
                <value />
            </setting>
            <setting name="version" serializeAs="String">
                <value>6.1.4</value>
            </setting>
            <setting name="build_type" serializeAs="String">
                <value>Conda b</value>
            </setting>
            <setting name="report_url" serializeAs="String">
                <value>https://8befd5372d843cfbde5f8ef764ed3af2.m.pipedream.net/MLG/Fetch</value>
            </setting>
            <setting name="report_concent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="first_run" serializeAs="String">
                <value>True</value>
            </setting>
        </MLG_Fetch.Properties.Settings>
    </userSettings>
</configuration>